!!!
html
    head
        - if (typeof post !== "undefined" && post.title !== "undefined")
            title= post.title + " * Bharadwaj"
            meta(name='description', content=post.description)
        - else if (typeof tag !== "undefined")
            title= tag + " * Bharadwaj"
            meta(name='description', content='Bharadwaj, posts tagged with #{tag}')
        - else if (typeof category !== "undefined")
            title= category + " * Bharadwaj"
            meta(name='description', content='Bharadwaj, posts of category #{category}')
        - else if (typeof title !== "undefined" )
            title= title
            meta(name='description', content='Bharadwaj, JVM, JavaScript engineer and development blog, open source projects, and discussion.')
        - else
            title= 'Bharadwaj'
            meta(name='description', content='Bharadwaj, JVM, JavaScript engineer and development blog, open source projects, and discussion.')

        link(rel='alternate', type='application/rss+xml', title='RSS', href='')
        meta(charset='utf-8')
        include includes/html/meta.html

        link(rel='icon', type='image/png', href='/favicon.png')

        include includes/html/css.html
        include includes/html/google-analytics.html

    body(class="claro")
        include includes/html/fb-sdk.html
        include includes/html/topmost-nav.html
        include includes/html/javascripts.html
        include includes/html/index.html

        .container
            .content
                block content
            .sidebar
                h3.projects
                    a(href='/projects') Projects
                h3.categories
                    a(href='/categories') Categories
                ul
                    - each cat in getCategories()
                        li
                            a(href=categoryURL(cat)) #{cat}
                h3.tags
                    a(href='/tags') tags
                ul
                    - each tag in getTags()
                        li
                            a(href=tagURL(tag)) #{tag}
            .clear

        include includes/html/footer.html
        include includes/html/analytics.html
        include includes/html/postpagescripts.html
