doctype html
html
    head
        - if (typeof post !== "undefined" && post.title !== "undefined")
            title= post.title + " * Bharadwaj"
            meta(name='description', content=post.description)
        - else if (typeof tag !== "undefined")
            title= tag + " * Bharadwaj"
            meta(name='description', content='Bharadwaj, posts tagged with #{tag}')
        - else if (typeof category !== "undefined")
            title= category + " * Bharadwaj"
            meta(name='description', content='Bharadwaj, posts of category #{category}')
        - else if (typeof title !== "undefined" )
            title= title
            meta(name='description', content='Bharadwaj, JVM, JavaScript engineer and development blog, open source projects, and discussion.')
        - else
            title= 'Bharadwaj'
            meta(name='description', content='Bharadwaj, JVM, JavaScript engineer and development blog, open source projects, and discussion.')

        link(rel='alternate', type='application/rss+xml', title='RSS', href='http://bharathblogs.in/rss')
        meta(charset='utf-8')
        include includes/html/meta.html

        link(rel='icon', type='image/ico', href='/images/favicon.ico')

        include includes/html/css.html
        include includes/html/google-analytics.html

    body(class="claro")
        include includes/html/fb-sdk.html
        include includes/html/topmost-nav.html
        include includes/html/javascripts.html
        include includes/html/fork-on-github.html

        script.
            var pageTitle = "resource";
            var pageType = "resource";
            var pageUrl = "resource";

        if post
            script.
                pageTitle = "#{post.title}";
                pageType = "post";
                pageUrl = "#{post.url}";

        .container
            if post
                .content
                    block content
            else
                .row
                    .col-md-10
                        .content
                            block content

        include includes/html/footer.html
        include includes/html/postpagescripts.html
